#searchBar {
  margin: 15px 10px;
}

.tableWrapper {
  max-height: 400px;
  overflow: auto;
}

.table tbody tr:hover td {
    background-color: LightBlue;
}

.table tbody tr:hover th {
	background-color: White;
}